TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_USER_ID=

CALENDAR_ANYA_ICAL_URL=
CALENDAR_LESHA_ICAL_URL=
CALENDAR_SASHA_ICAL_URL=
CALENDAR_NASTYA_ICAL_URL=

TIMEZONE=Europe/Moscow
DATABASE_PATH=/app/data/bot.db
ICAL_CACHE_TTL=2m
ICAL_HTTP_TIMEOUT=10s
INVITE_TTL=24h
